<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.snakerflow.mybatis.mapper.HistOrderMapper">
  <resultMap id="BaseResultMap" type="com.github.snakerflow.mybatis.entity.HistOrderEntity">
    <!--@mbg.generated-->
    <!--@Table wf_hist_order-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="process_Id" jdbcType="VARCHAR" property="processId" />
    <result column="order_State" jdbcType="BOOLEAN" property="orderState" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_Time" jdbcType="VARCHAR" property="createTime" />
    <result column="end_Time" jdbcType="VARCHAR" property="endTime" />
    <result column="expire_Time" jdbcType="VARCHAR" property="expireTime" />
    <result column="priority" jdbcType="BOOLEAN" property="priority" />
    <result column="parent_Id" jdbcType="VARCHAR" property="parentId" />
    <result column="order_No" jdbcType="VARCHAR" property="orderNo" />
    <result column="variable" jdbcType="VARCHAR" property="variable" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, process_Id, order_State, creator, create_Time, end_Time, expire_Time, priority,
    parent_Id, order_No, `variable`
  </sql>
</mapper>
