<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.snakerflow.mybatis.mapper.HistOrderMapper">
  <resultMap id="BaseResultMap" type="org.snaker.engine.entity.HistoryOrder">
    <!--@mbg.generated-->
    <!--@Table wf_hist_order-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="process_Id" jdbcType="VARCHAR" property="processId" />
    <result column="order_State" jdbcType="BOOLEAN" property="orderState" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_Time" jdbcType="VARCHAR" property="createTime" />
    <result column="end_Time" jdbcType="VARCHAR" property="endTime" />
    <result column="expire_Time" jdbcType="VARCHAR" property="expireTime" />
    <result column="priority" jdbcType="BOOLEAN" property="priority" />
    <result column="parent_Id" jdbcType="VARCHAR" property="parentId" />
    <result column="order_No" jdbcType="VARCHAR" property="orderNo" />
    <result column="variable" jdbcType="VARCHAR" property="variable" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, process_Id, order_State, creator, create_Time, end_Time, expire_Time, priority,
    parent_Id, order_No, `variable`
  </sql>

  <select id="findListPage" resultType="org.snaker.engine.entity.HistoryOrder">
    select
            o.id,o.process_Id,o.order_State,o.priority,o.creator,o.create_Time,o.end_Time,o.parent_Id,o.expire_Time,o.order_No,o.variable
    from
            wf_hist_order o
    left join
            wf_process p on p.id = o.process_id
    <where>
      <if test="filter != null ">
        <if test="filter.operators != null and filter.operators.length != 0">
          and o.creator in
          <foreach collection="filter.operators" index="index" item="creator" separator="," open="(" close=")">
            #{creator}
          </foreach>
        </if>
        <if test="filter.names != null and filter.names.length != 0">
          and p.name IN
          <foreach collection="filter.names" index="index" item="name" separator="," open="(" close=")">
            #{name}
          </foreach>
        </if>
        <if test="filter.processId != null and filter.processId != ''">
          and o.process_Id = #{filter.processId}
        </if>
        <if test="filter.processType != null and filter.processType != ''">
          and p.type = #{filter.processType}
        </if>
        <if test="filter.displayName != null and filter.displayName != ''">
          <bind name="displayName" value="'%'+ filter.displayName +'%'"/>
          and p.display_Name like #{displayName}
        </if>
        <if test="filter.parentId != null and filter.parentId != ''">
          and o.parent_Id = #{filter.processId}
        </if>
        <if test="filter.state != null ">
          and o.order_State = #{filter.state}
        </if>
        <if test="filter.createTimeStart != null and filter.createTimeStart != ''" >
          and o.create_Time &gt;= #{filter.createTimeStart}
        </if>
        <if test="filter.createTimeEnd != null and filter.createTimeEnd != ''">
          and o.create_Time &lt;= #{filter.createTimeEnd}
        </if>
        <if test="filter.orderNo != null and filter.orderNo != ''">
          and o.order_No = #{filter.orderNo}
        </if>
        <if test="(filter.orderBy != null and filter.orderNo != '') and (filter.order) != null and filter.order != ''">
          order by o.create_Time desc
        </if>
      </if>
    </where>
    </select>

  <select id="getCCWorks" resultType="org.snaker.engine.entity.HistoryOrder">
    select
            id,process_Id,order_State,priority,cc.creator,cc.create_Time,end_Time,parent_Id,expire_Time,order_No,variable
    from
            wf_cc_order cc
    left join
            wf_hist_order o on cc.order_id = o.id
    <where>
      <if test="filter != null ">
        <if test="filter.operators != null and filter.operators.length != 0 ">
          and cc.actor_Id in
          <foreach collection="filter.operators" index="index" separator="," item="actorId" open="(" close=")">
            #{actorId,jdbcType=VARCHAR}
          </foreach>
        </if>
        <if test="filter.parentId != null and filter.parentId != ''">
          and parent_Id = #{filter.processId}
        </if>
        <if test="filter.state != null ">
          and cc.status = #{filter.state}
        </if>
        <if test="filter.processId != null and filter.processId != ''">
          and process_Id = #{filter.processId}
        </if>
        <if test="filter.createTimeStart != null and filter.createTimeStart != ''" >
          and cc.create_Time &gt;= #{filter.createTimeStart}
        </if>
        <if test="filter.createTimeEnd != null and filter.createTimeEnd != ''">
          and cc.create_Time &lt;= #{filter.createTimeEnd}
        </if>
        <if test="filter.orderNo != null and filter.orderNo != ''">
          and order_No = #{filter.orderNo}
        </if>
        <if test="(filter.orderBy != null and filter.orderNo != '') and (filter.order) != null and filter.order != ''">
          order by create_Time desc
        </if>
      </if>
    </where>

  </select>
</mapper>
