<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.snakerflow.mybatis.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.github.snakerflow.mybatis.entity.OrderEntity">
    <!--@mbg.generated-->
    <!--@Table wf_order-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_Id" jdbcType="VARCHAR" property="parentId" />
    <result column="process_Id" jdbcType="VARCHAR" property="processId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_Time" jdbcType="VARCHAR" property="createTime" />
    <result column="expire_Time" jdbcType="VARCHAR" property="expireTime" />
    <result column="last_Update_Time" jdbcType="VARCHAR" property="lastUpdateTime" />
    <result column="last_Updator" jdbcType="VARCHAR" property="lastUpdator" />
    <result column="priority" jdbcType="BOOLEAN" property="priority" />
    <result column="parent_Node_Name" jdbcType="VARCHAR" property="parentNodeName" />
    <result column="order_No" jdbcType="VARCHAR" property="orderNo" />
    <result column="variable" jdbcType="VARCHAR" property="variable" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, parent_Id, process_Id, creator, create_Time, expire_Time, last_Update_Time, last_Updator,
    priority, parent_Node_Name, order_No, `variable`, version
  </sql>
</mapper>
