<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.snakerflow.mybatis.mapper.ProcessMapper">
  <resultMap id="BaseResultMap" type="org.snaker.engine.entity.Process">
    <!--@mbg.generated-->
    <!--@Table wf_process-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="display_Name" jdbcType="VARCHAR" property="displayName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="instance_Url" jdbcType="VARCHAR" property="instanceUrl" />
    <result column="state" jdbcType="BOOLEAN" property="state" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_Time" jdbcType="VARCHAR" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="content" property="bytes"/>
  </resultMap>


  <select id="findList" resultMap="BaseResultMap">
    select
            id,name,display_Name,type,instance_Url,state, content , version,create_Time,creator
    from
            wf_process
    <where>
      <if test="filter != null ">
        <if test="filter.names != null and filter.names.length != 0">
          and name IN
          <foreach collection="filter.names" index="index" item="name" separator="," open="(" close=")">
            #{name}
          </foreach>
        </if>

        <if test="filter.displayName != null and filter.displayName != ''">
          <bind name="displayName" value="'%'+ filter.displayName +'%'"/>
          and display_Name like #{displayName}
        </if>
        <if test="filter.version != null ">
          and version = #{filter.version}
        </if>
        <if test="filter.state != null ">
          and state = #{filter.state}
        </if>
        <if test="filter.processType != null and filter.processType != ''">
          and type = #{filter.processType}
        </if>
        <if test="filter.operators != null and filter.operators.length != 0">
          and creator in
          <foreach collection="filter.operators" index="index" item="creator" separator="," open="(" close=")">
            #{creator}
          </foreach>
        </if>
        <if test="(filter.orderBy != null and filter.orderNo != '') and (filter.order) != null and filter.order != ''">
          order by name desc
        </if>
      </if>
    </where>
  </select>

  <select id="findById" resultMap="BaseResultMap">
    SELECT
         id,name,display_Name,type,instance_Url,state, content, version,create_Time,creator
    FROM
         wf_process
    WHERE
         id = #{id}
  </select>
</mapper>
