<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.snakerflow.mybatis.mapper.SurrogateMapper">
  <resultMap id="BaseResultMap" type="com.github.snakerflow.mybatis.entity.SurrogateEntity">
    <!--@mbg.generated-->
    <!--@Table wf_surrogate-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="process_Name" jdbcType="VARCHAR" property="processName" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="surrogate" jdbcType="VARCHAR" property="surrogate" />
    <result column="odate" jdbcType="VARCHAR" property="odate" />
    <result column="sdate" jdbcType="VARCHAR" property="sdate" />
    <result column="edate" jdbcType="VARCHAR" property="edate" />
    <result column="state" jdbcType="BOOLEAN" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, process_Name, `operator`, surrogate, odate, sdate, edate, `state`
  </sql>
</mapper>
