<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.snakerflow.mybatis.mapper.SurrogateMapper">
  <resultMap id="BaseResultMap" type="com.github.snakerflow.mybatis.entity.SurrogateEntity">
    <!--@mbg.generated-->
    <!--@Table wf_surrogate-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="process_Name" jdbcType="VARCHAR" property="processName" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="surrogate" jdbcType="VARCHAR" property="surrogate" />
    <result column="odate" jdbcType="VARCHAR" property="odate" />
    <result column="sdate" jdbcType="VARCHAR" property="sdate" />
    <result column="edate" jdbcType="VARCHAR" property="edate" />
    <result column="state" jdbcType="BOOLEAN" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, process_Name, `operator`, surrogate, odate, sdate, edate, `state`
  </sql>

  <select id="findList" resultType="org.snaker.engine.entity.Surrogate">
    SELECT
            id, process_Name, operator, surrogate, odate, sdate, edate, state
    FROM
            wf_surrogate
    <where>
       state = 1
      <if test="filter != null ">
        <if test="filter.names != null and filter.names.length != 0">
          and process_Name in
          <foreach collection="filter.names" index="index" item="processName" open="(" close=")" separator=",">
            #{processName,jdbcType=VARCHAR}
          </foreach>
        </if>
        <if test="filter.operators != null and filter.operators.length != 0 ">
          and operator in
          <foreach collection="filter.operators" index="index" separator="," item="actorId" open="(" close=")">
            #{actorId,jdbcType=VARCHAR}
          </foreach>
        </if>
        <if test="filter.operateTime != null and filter.operateTime != ''">
          and sdate &lt;= #{filter.operateTime,jdbcType=VARCHAR} and edate &gt;= #{filter.operateTime,jdbcType=VARCHAR}
        </if>
        <if test="(filter.orderBy != null and filter.orderNo != '') and (filter.order) != null and filter.order != ''">
          order by sdate desc
        </if>
      </if>

    </where>
    </select>
</mapper>
